<div id="app">
  <h1>{{message}}</h1>
  <ul>
    <li v-for="link in links">
      <a :href="link.url">{{link.name}}</a>
    </li>
  </ul>
</div>

<script type="text/javascript">
  
  var app = new Vue({
    el: '#app',
    data: {
      userName: "James",
      links: [
        {
          url: "/purchases",
          name: "Your Purchases"
        },
        {
          url: "/stores",
          name: "Your Preferred Stores"
        }
      
      ]
    },
    computed: {
      message: function() { 
        return `${this.userName}, welcome to your purchase logger` 
      }
    }
  })
</script>